*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    min-width: 1000px;
    font-family: Montserrat;
    background: url(../images/fon.jpg);
    color: rgba(179, 179, 179, 0.925);
}
a{
    text-decoration: none;
    color: rgb(219, 218, 218);
}
.header{
    z-index: 2;
    background: url(../images/logo_img.png) top right no-repeat;
    height: 800px;
    
}

.header__top{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    z-index: 2;
    
}


.button, .logo{
    
    padding: 15px;
    background-color: rgba(151, 161, 161, 0.473);
    border-radius: 25pt;
    box-shadow: 2px 2px 2px 0 rgba(255, 255, 255, 0.76);
    transition: 500ms;
}
.header__menu{
    margin: 15px;
    
}

.item__menu{
    padding: 15px;
    margin: 0 15px ;
    background: rgba(151, 161, 161, 0.473);
    border-radius: 25pt;
    box-shadow: 2px 2px 2px 0 rgba(255, 255, 255, 0.76);
    transition: 500ms;
}
.item__menu:active{
    color: rgba(77, 238, 125, 0.884);
    box-shadow: none;
   
}
.logo:active{
    color: rgba(77, 238, 125, 0.884);
    box-shadow: none;
}
.button:active{
    color: rgba(77, 238, 125, 0.884);
    box-shadow: none;
}
.header__content{
    width: 700px;
    margin: 100px 2px 0 10px;
}
.header__title{
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}
.header__subtitle{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.header__text{
   color: rgba(100, 148, 237, 0.719);
   line-height: 20px;
}
.content_button{
    margin-top: 20px;
}
.btn_item {
    display: flex;
    justify-content:space-between;

    
}
